# macOs only https://github.com/sorah/envchain
# envchain --set workshop RENOVATE_TOKEN
# envchain --set workshop RENOVATE_REPO_PATH
export RENOVATE_TOKEN=$(envchain workshop env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export RENOVATE_REPO_PATH=$(envchain workshop env | grep RENOVATE_REPO_PATH | cut -d'=' -f2)
export GITHUB_COM_TOKEN=$RENOVATE_TOKEN
